<div>
    <table class="grid dict">

        <!-- Title -->
        {% if PlanDefinition.title.exists() %}
        <tr>
            <th scope="row"><b>eCQM title: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.title}}</td>
        </tr>
        {% endif %}

        <!-- eCQM ID -->
        {% if PlanDefinition.id.exists() %}
        <tr>
            <th scope="row"><b>eCQM ID: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.id}}</td>
        </tr>
        {% endif %}

        <!-- eCQM version number -->
        {% if PlanDefinition.version.exists() %}
        <tr>
            <th scope="row"><b>eCQM version number: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.version}}</td>
        </tr>
        {% endif %}

        <!-- NQF number -->
        {% if PlanDefinition.identifier.where(system = 'http://www.qualityforum.org').exists() %}
        <tr>
            <th scope="row"><b>NQF number: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.identifier.where(system = 'http://www.qualityforum.org').value}}</td>
        </tr>
        {% endif %}

        <!-- CBE ID -->
        {% if PlanDefinition.identifier.where(system = 'urn:ietf:rfc:3986').exists() %}
        <tr>
            <th scope="row"><b>CBE ID: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.identifier.where(system = 'urn:ietf:rfc:3986').value}}</td>
        </tr>
        {% endif %}

        <!-- GUID -->
        {% if PlanDefinition.identifier.where(system = 'urn:ietf:rfc:4122').exists() %}
        <tr>
            <th scope="row"><b>GUID: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.identifier.where(system = 'urn:ietf:rfc:4122').value}}</td>
        </tr>
        {% endif %}

        <!-- Version specific ID -->
        {% if PlanDefinition.identifier.where(system = 'https://ecqi.healthit.gov').exists() %}
        <tr>
            <th scope="row"><b>Version specific ID: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.identifier.where(system = 'https://ecqi.healthit.gov').value}}</td>
        </tr>
        {% endif %}

        <!-- Measurement period -->
        {% if PlanDefinition.effectivePeriod.exists() %}
        <tr>
            <th scope="row"><b>Measurement period: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.effectivePeriod.start}}..{{PlanDefinition.effectivePeriod.end}}</td>
        </tr>
        {% endif %}

        <!-- Status -->
        {% if PlanDefinition.status.exists() %}
        <tr>
            <th scope="row"><b>Status: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.status.value}}</td>
        </tr>
        {% endif %}

        <!-- Experimental -->
        {% if PlanDefinition.experimental.exists() %}
        <tr>
            <th scope="row"><b>Experimental: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.experimental.value}}</td>
        </tr>
        {% endif %}

        <!-- Date (date last changed) -->
        {% if PlanDefinition.date.exists() %}
        <tr>
            <th scope="row"><b>Date (date last changed): </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.date}}</td>
        </tr>
        {% endif %}

        <!-- Approval date (when the measure was approved by the publisher) -->
        {% if PlanDefinition.approvalDate.exists() %}
        <tr>
            <th scope="row"><b>Approval date (when the measure was approved by the publisher): </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.approvalDate}}</td>
        </tr>
        {% endif %}

        <!-- Last review date (when the measure was last reviewed) -->
        {% if PlanDefinition.lastReviewDate.exists() %}
        <tr>
            <th scope="row"><b>Last review date (when the measure was last reviewed): </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.lastReviewDate}}</td>
        </tr>
        {% endif %}

        <!-- Short Name -->
        {% if PlanDefinition.name.exists() %}
        <tr>
            <th scope="row"><b>Short Name: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.name}}</td>
        </tr>
        {% endif %}

        <!-- Measure steward -->
        {% if PlanDefinition.publisher.exists() %}
        <tr>
            <th scope="row"><b>Measure steward: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.publisher}}</td>
        </tr>
        {% endif %}

        <!-- Measure developer -->
        {% if PlanDefinition.author.exists() %}
        <tr>
            <th scope="row"><b>Measure developer: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.author}}</td>
        </tr>
        {% endif %}

        <!-- Endorsed by -->
        {% if PlanDefinition.endorser.exists() %}
        <tr>
            <th scope="row"><b>Endorsed by: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.endorser}}</td>
        </tr>
        {% endif %}

        <!-- Description -->
        {% if PlanDefinition.description.exists() %}
        <tr>
            <th scope="row"><b>Description: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.description}}</td>
        </tr>
        {% endif %}

        <!-- Copyright -->
        {% if PlanDefinition.copyright.exists() %}
        <tr>
            <th scope="row"><b>Copyright: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.copyright}}</td>
        </tr>
        {% endif %}

        <!-- Disclaimer -->
        {% if PlanDefinition.disclaimer.exists() %}
        <tr>
            <th scope="row"><b>Disclaimer: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.disclaimer}}</td>
        </tr>
        {% endif %}

        <!-- Measure scoring -->
        {% if PlanDefinition.scoring.exists() %}
        <tr>
            <th scope="row"><b>Measure scoring: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.scoring}}</td>
        </tr>
        {% endif %}

        <!-- Measure type -->
        {% if PlanDefinition.type.exists() %}
        <tr>
            <th scope="row"><b>Measure type: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.type}}</td>
        </tr>
        {% endif %}

        <!-- Stratification -->
        {% if PlanDefinition.stratifier.exists() %}
        <tr>
            <th scope="row"><b>Stratification: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.stratifier}}</td>
        </tr>
        {% endif %}

        <!-- Risk adjustment -->
        {% if PlanDefinition.riskAdjustment.exists() %}
        <!--
            Note: The specific field for risk adjustment is missing in the provided JSON example.
            Please include the field name and the corresponding data here.
        -->
        {% endif %}

        <!-- Rate aggregation -->
        {% if PlanDefinition.rateAggregation.exists() %}
        <!--
            Note: The specific field for rate aggregation is missing in the provided JSON example.
            Please include the field name and the corresponding data here.
        -->
        {% endif %}

        <!-- Rationale -->
        {% if PlanDefinition.rationale.exists() %}
        <!--
            Note: The specific field for rationale is missing in the provided JSON example.
            Please include the field name and the corresponding data here.
        -->
        {% endif %}

        <!-- Clinical recommendation statement -->
        {% if PlanDefinition.clinicalRecommendationStatement.exists() %}
        <!--
            Note: The specific field for clinical recommendation statement is missing in the provided JSON example.
            Please include the field name and the corresponding data here.
        -->
        {% endif %}

        <!-- Improvement notation -->
        {% if PlanDefinition.improvementNotation.exists() %}
        <!--
            Note: The specific field for improvement notation is missing in the provided JSON example.
            Please include the field name and the corresponding data here.
        -->
        {% endif %}

        <!-- Reference -->
        {% if PlanDefinition.reference.exists() %}
        <!--
            Note: The specific field for reference is missing in the provided JSON example.
            Please include the field name and the corresponding data here.
        -->
        {% endif %}

        <!-- Definition -->
        {% if PlanDefinition.definition.exists() %}
        <!--
            Note: The specific field for definition is missing in the provided JSON example.
            Please include the field name and the corresponding data here.
        -->
        {% endif %}

        <!-- Libraries -->
        {% if PlanDefinition.library.exists() %}
        <tr>
            <th scope="row"><b>Libraries: </b></th>
            <td style="padding-left: 4px;">
                <table class="grid-dict">
                    {% for library in PlanDefinition.library %}
                    <tr>
                        <td>{{library}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}

        <!-- Actions -->
        {% if PlanDefinition.action.exists() %}
        <tr>
            <th scope="row"><b>Actions: </b></th>
            <td style="padding-left: 4px;">
                <table class="grid-dict">
                    {% for action in PlanDefinition.action %}
                    <tr>
                        <td>
                            {% if action.textEquivalent.exists() %}
                            {{action.textEquivalent}}
                            {% else %}
                            <b>{{action.prefix}} {{action.title}}:</b> {{action.description}}
                            {% endif %}
                            <br/>
                            {% if action.trigger.exists() %}
                            <b>When:</b>
                            {% for trigger in action.trigger %}
                            <i>{{trigger.type}}:</i> {{trigger.name}}
                            <br/>
                            {% endfor %}
                            {% endif %}
                            {% if action.condition.exists() %}
                            <b>If:</b>
                            {% for condition in action.condition %}
                            <i>{{condition.kind}}:</i>
                            {% if condition.expression.description.exists() %}
                            {{condition.expression.description}}
                            {% endif %}
                            <i>({{condition.expression.expression}})</i>
                            <br/>
                            {% endfor %}
                            {% endif %}
                            {% if action.action.exists() %}
                            <b>Then:</b>
                            <table class="grid-dict">
                                {% for subAction in action.action %}
                                <tr>
                                    <td>
                                        {% if subAction.textEquivalent.exists() %}
                                        {{subAction.textEquivalent}}
                                        {% else %}
                                        <b>{{subAction.prefix}} {{subAction.title}}:</b>
                                        {{subAction.description}}
                                        {% endif %}
                                        <br/>
                                        {% if subAction.trigger.exists() %}
                                        <b>When:</b>
                                        {% for trigger in subAction.trigger %}
                                        <i>{{trigger.type}}:</i>
                                        {{trigger.name}}
                                        <br/>
                                        {% endfor %}
                                        {% endif %}
                                        {% if subAction.condition.exists() %}
                                        <b>If:</b>
                                        {% for condition in subAction.condition %}
                                        <i>{{condition.kind}}:</i>
                                        {% if condition.expression.description.exists() %}
                                        {{condition.expression.description}}
                                        {% endif %}
                                        <i>({{condition.expression.expression}})</i>
                                        <br/>
                                        {% endfor %}
                                        {% endif %}
                                        {% if subAction.action.exists() %}
                                        <b>Then:</b> <i>Additional sub-actions not displayed</i>
                                        {% else %}
                                        {% if subAction.definition.exists() %}
                                        <b>Then:</b> <i>Definition:</i> {{subAction.definition}}<br/>
                                        {% if subAction.dynamicValue.exists() %}
                                        <i>Dynamic Values:</i><br/>
                                        {% for dynamicValue in subAction.dynamicValue %}
                                        {{dynamicValue.path}}: <i>({{dynamicValue.expression.expression}})</i>
                                        <br/>
                                        {% endfor %}
                                        {% endif %}
                                        {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% else %}
                            {% if action.definition.exists() %}
                            <b>Then:</b> <i>Definition:</i> {{action.definition}}<br/>
                            {% if action.dynamicValue.exists() %}
                            <i>Dynamic Values:</i><br/>
                            {% for dynamicValue in action.dynamicValue %}
                            {{dynamicValue.path}}: <i>({{dynamicValue.expression.expression}})</i>
                            <br/>
                            {% endfor %}
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}
        
        <!-- Remaining sections from the provided file -->
        <!-- Usage -->
        {% if PlanDefinition.usage.exists() %}
        <tr>
            <th scope="row"><b>Usage: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.usage.escape('html')}}</td>
        </tr>
        {% endif %}

        <!-- Jurisdiction -->
        {% if PlanDefinition.jurisdiction.exists() %}
        <tr>
            <th scope="row"><b>Jurisdiction: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.jurisdiction.first().coding.first().code}}</td>
        </tr>
        {% endif %}

        <!-- Topic -->
        {% if PlanDefinition.topic.exists() %}
        <tr>
            <th scope="row"><b>Topic: </b></th>
            <td style="padding-left: 4px;">{{PlanDefinition.topic.first().coding.first().code}}</td>
        </tr>
        {% endif %}
    </table>
</div>
